* {
    font-family: 'Poppins', sans-serif;
}
body {
    
}

/*--------Header-------*/
header {
    background-color: #EEEEEE;
    margin-top: 0px;
    box-shadow: 5px;
    position: sticky;
    top: 0px;
}
.Header {
    background-color: #EEEEEE;
}
nav .navbar-brand {
    margin-right: 30px;
}
nav .navbar-nav a {
    color: #67C6E3;
    font-weight: 500;
    margin-right: 3px;
}
nav .navbar-nav a:active {
    font-weight: 700 !important;
    color: #378CE7;
    transition: 0.3s;
}
nav .navbar-nav a:hover {
    font-weight: 700 !important;
    color: #378CE7;
    transition: 0.3s;
}
form button i {
    font-size: 18px;
}
/*------End Header-------*/

/*-----Title Section------*/
/*---mediaQuery---*/
/* Medium*/
@media (max-width: 768px) {
    .landing .intro-text h1  {
        width: 750px;
    }
}
.landing {
    background-image: url(../imgs/TitleSection.jpg);
    background-size: cover;
    box-shadow: inset;
    height: calc(100vh - 80px);
    position: relative;
    background-color: black;
    opacity: 0.6;
    
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 100%;
    
    
  }
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: blue;
} 
.landing .intro-text  button  {
    font-size: 19px;
    line-height: 1.8;
    margin-top: 28px;
    border-radius: 5px;
    border: #378CE7 solid 2px;
    padding: 2px 7px;

} 
.landing .intro-text button a {
    text-decoration: none;
    color: #378CE7;
}
/*-----End Title Section------*/
/*--------PROF section--------*/

.Un {
    height: 300px;
    position: relative;
}
.Un .Info {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 100%;
}
.container .Info p {
    font-size: 30px;
    font-weight: 700;
    color: ;
}
.container .Info  .Univs img {
    width: 100px;
    height: 100px;
    margin-right: 12px;
}
.container .Info  .Univs  {
    margin-top: 30px;
}
/*--------End PROF section--------*/
/*-------Footer/-------*/
.container footer {
    background-color: #378CE7;
    text-align: center;
    border: #378CE7 ;
    height: 100px;
}
.container footer  p {
    padding-bottom: 10px;
    padding-top: 40px;
}
/*-------End Footer-----*/